@use "../util/" as u;

.logo {
  display: flex;
  align-items: center;
  gap: u.rem(20);

  &__icon {
    font-size: u.rem(32);
  }

  &__text {
    margin: 0;
    font-size: u.rem(24);
  }
}

.nav {
  background: var(--nav-bg);
  display: flex;
  flex-direction: column;
  padding: u.rem(20);

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    gap: u.rem(20);
    color: var(--nav-text);
    // font-family: 'Roboto', sans-serif;
    &--icon {
      font-size: u.rem(32);
    }
    &--text {
      font-weight: bold;
    }
  }
}